Source: ros-lunar-ypspur
Section: misc
Priority: extra
Maintainer: Atsushi Watanabe <atsushi.w@ieee.org>
Build-Depends: debhelper (>= 9.0.0), 
Homepage: 
Standards-Version: 3.9.2

Package: ros-lunar-ypspur
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: YP-Spur is a mobile robot motion control software with coordinate frame based commands.
